---
import NavbarDashboard from "@components/NavbarDashboard.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-primary">
    <div
      id="content"
      class="p-2 container mx-auto gap-2 h-screen overflow-hidden"
    >
      <header class="[grid-area:nav]">
        <NavbarDashboard />
      </header>

      <main class="[grid-area:main] overflow-auto">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  #content {
    display: grid;
    grid-template-areas:
      "nav"
      "main";
    grid-template-rows: 80px 1fr;
  }
</style>
